compile.sh
run.sh

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

build/*
POS/build/*
POS/include/qcustomplot/documentation/*
POS/include/qcustomplot/examples/*
POS/include/qcustomplot/changelog.txt
POS/include/qcustomplot/GPL.txt
.clang_complete
.clang-format

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
*.idx
*.props
*.tlog
*.log
*.props

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
POS/testProject/.vs/testProject/v16/Browse.VC.db
POS/testProject/.vs/testProject/v16/Browse.VC.db-shm
POS/testProject/.vs/testProject/v16/Browse.VC.db-wal
POS/testProject/.vs/testProject/v16/Browse.VC.opendb
POS/testProject/debug/qmake/qtvars_Win32_Debug.props
POS/testProject/debug/qmake/temp/05221D14-F05E-3A7B-94F0-D217EE1F4374.testProject.designtime.idx
POS/testProject/debug/qmake/temp/qtvars_Win32_Debug.props
POS/testProject/debug/testProject.exe.recipe
POS/testProject/release/qmake/qtvars_Win32_Release.props
POS/testProject/release/qmake/temp/05221D14-F05E-3A7B-94F0-D217EE1F4374.testProject.designtime.idx
POS/testProject/release/qmake/temp/qtvars_Win32_Release.props
POS/testProject/.vs/testProject/v16/Browse.VC.db
POS/.vs/POS/v16/Browse.VC.opendb
POS/POS.vcxproj.filters
POS/POS.vcxproj
*.pdb
*.pdb
POS/debug/vc142.pdb
POS/debug/testProject.pdb
POS/.vs/POS/v16/.suo
*.db
*.db-shm
*.db-wal
*.ipch
POS/.vs/POS/v16/Browse.VC.db
*.obj
POS/debug/POS.exe
POS/debug/POS.exe.recipe
POS/debug/POS.ilk
*.pdb
POS/POS.vcxproj
POS/POS.vcxproj.filters
*.vcxproj
*.filters
*.user
*.json
*.opendb
.vs/testProject/v16/.suo
*.sqlite
.vs/POS/v16/.suo
build/*
build/
