# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

build/*
PieceOfShift/build/*
PieceOfShift/include/qcustomplot/documentation/*
PieceOfShift/include/qcustomplot/examples/*
PieceOfShift/include/qcustomplot/changelog.txt
PieceOfShift/include/qcustomplot/GPL.txt
.clang_complete
.clang-format

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
*.idx
*.props
*.tlog
*.log
*.props

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
PieceOfShift/testProject/.vs/testProject/v16/Browse.VC.db
PieceOfShift/testProject/.vs/testProject/v16/Browse.VC.db-shm
PieceOfShift/testProject/.vs/testProject/v16/Browse.VC.db-wal
PieceOfShift/testProject/.vs/testProject/v16/Browse.VC.opendb
PieceOfShift/testProject/debug/qmake/qtvars_Win32_Debug.props
PieceOfShift/testProject/debug/qmake/temp/05221D14-F05E-3A7B-94F0-D217EE1F4374.testProject.designtime.idx
PieceOfShift/testProject/debug/qmake/temp/qtvars_Win32_Debug.props
PieceOfShift/testProject/debug/testProject.exe.recipe
PieceOfShift/testProject/release/qmake/qtvars_Win32_Release.props
PieceOfShift/testProject/release/qmake/temp/05221D14-F05E-3A7B-94F0-D217EE1F4374.testProject.designtime.idx
PieceOfShift/testProject/release/qmake/temp/qtvars_Win32_Release.props
PieceOfShift/testProject/.vs/testProject/v16/Browse.VC.db
PieceOfShift/.vs/pieceOfShift/v16/Browse.VC.opendb
PieceOfShift/pieceOfShift.vcxproj.filters
PieceOfShift/pieceOfShift.vcxproj
*.pdb
*.pdb
PieceOfShift/debug/vc142.pdb
PieceOfShift/debug/testProject.pdb
PieceOfShift/.vs/pieceOfShift/v16/.suo
*.db
*.db-shm
*.db-wal
*.ipch
PieceOfShift/.vs/pieceOfShift/v16/Browse.VC.db
*.obj
PieceOfShift/debug/pieceOfShift.exe
PieceOfShift/debug/pieceOfShift.exe.recipe
PieceOfShift/debug/pieceOfShift.ilk
*.pdb
*.txt
PieceOfShift/pieceOfShift.vcxproj
PieceOfShift/pieceOfShift.vcxproj.filters
*.vcxproj
*.filters
*.user
*.json
*.opendb
.vs/testProject/v16/.suo
*.sqlite
.vs/pieceOfShift/v16/.suo
build/*
build/
